node_modules/
dist/
*.js.map
.env
.env.local
*.tsbuildinfo
coverage/
.claude
docs
.superpowers

# Docker
pgdata/

apps/api/postmail_google_oauth.json
apps/api/postmail_email_tracker.json
apps/dashboard/src/components/logo.jpg
apps/dashboard/src/components/logo.svg